<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link href="//db.onlinewebfonts.com/c/c68e21ad1a10803b1ef491fd0392b067?family=SB+Sans+Text" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{../../css/style.css}" type="text/css">
    <header th:insert="~{inner_scripts/navbar :: navbar}"></header>
</head>
<body>

<form th:method="POST" th:action="@{/peers/update}" th:object="${peer}" class="margin-l">
    <label for="nickname">Enter nickname </label>
    <input class="input-different" type="text" th:field="*{nickname}" id="nickname" style="margin-left: 20px">
    </br>
    <label class="margin-t" for="date">Enter birthday </label>
    <input class="input-different" type="date" th:field="*{birthday}" id="date" style="margin-left: 30px">
    </br>
<!--    <input type="hidden" th:field="*{birthday}"/>-->
    <button type="button" class="input-home  margin-t" data-toggle="modal" data-target="#updateModal">Update</button>
    <div th:insert="~{inner_scripts/update :: update}"></div>
</form>
<div th:insert="~{inner_scripts/scripts :: scripts}"></div>
</body>
</html>