<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link href="//db.onlinewebfonts.com/c/c68e21ad1a10803b1ef491fd0392b067?family=SB+Sans+Text" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}" type="text/css">
    <header th:insert="~{inner_scripts/navbar :: navbar}"></header>
</head>
<body>
<div class="container font-style">
<p>
    В данном проекте реализован web-интерфейс для проекта Info-SQL.
    Было разработано web-приложение с использование MVC-фреймворка.
    Приложение поддерживает осуществление CRUD-операций, осуществление разработанных в проекте Info-SQL
    операций/функций через графический интерфейс, а также логирование действий пользователя.
</p>
<p>Проект выполнен студентами:</p>
<a class=" text-decoration-none font-color2" href="https://github.com/PerevalovaSofya">ldiomede</a><br>
<a class="text-decoration-none font-color2" href="https://github.com/Ic1k">ohyperio</a><br>
<a class=" text-decoration-none font-color2" href="https://github.com/OlegDeLon">tcocoa</a><br>
</div>
</body>