<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf">-->
<!--<head>-->
<!--  <title>BUYSELL</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>BUYSELL</h1><hr>-->
<!--<h4>Авторизация</h4>-->
<!--<form th:action="@{/logout}" th:method="POST">-->
<!--  username: <label>-->
<!--  <input type="text" name="username">-->
<!--</label><br><br>-->
<!--  Пароль: <label>-->
<!--  <input type="password" name="password">-->
<!--</label><br><br>-->
<!--  &lt;!&ndash;    <input type="hidden" name="_csrf" value="${_csrf.token}">&ndash;&gt;-->
<!--  <input type="submit" value="Вход"/>-->
<!--</form>-->
<!--<a href="/registration">Зарегистрироваться</a>-->
<!--</body>-->
<!--</html>-->

<http>
  <logout/>
</http>