<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link href="//db.onlinewebfonts.com/c/c68e21ad1a10803b1ef491fd0392b067?family=SB+Sans+Text" rel="stylesheet"
        type="text/css"/>
  <link rel="stylesheet" href="../../static/css/style.css" th:href="@{../css/style.css}" type="text/css">
  <header th:insert="~{inner_scripts/navbar :: navbar}"></header>
</head>
<body>
<form th:method="POST" th:action="@{/transferredpoints}"  th:object="${transferredPoint}" class="margin-l">
  <label for="checkingPeer">Checking Peer</label>
  <select class="input-different" id="checkingPeer" name="checkingPeer" style="margin-left: 17px">
    <option th:each="peer : ${peers}"
            th:value="${peer.getNickname()}"
            th:text="${peer.getNickname()}">
    </option>
  </select>
  <br>
  <label class="margin-t" for="checkedPeer">Checked Peer</label>
  <select class="input-different " id="checkedPeer" name="checkedPeer" style="margin-left: 20px">
    <option th:each="peer : ${peers}"
            th:value="${peer.getNickname()}"
            th:text="${peer.getNickname()}">
    </option>
  </select>
  <br>
  <label class="margin-t" for="pointsAmount">Points Amount</label>
  <input class="input-different" type="number" min="0" max="2000" id="pointsAmount" th:field="*{pointsAmount}" style="margin-left: 15px">
  <br>
  <button type="button" class="input-home margin-t" data-toggle="modal" data-target="#addModal">Add</button>
  <div th:insert="~{inner_scripts/add :: add}"></div>
</form>

<div th:insert="~{inner_scripts/scripts :: scripts}"></div>
</body>
</html>
